/dist
/src/apm
/node_modules
*.mobileprovision
*.provisionprofile
tmp.txt

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
.sscrc
.src

.DS_Store
