body {
  background: transparent;
  position: relative;
  height: 100dvh;
  color: var(--x-primary);
  padding: 0;
  margin: 0;
  font-size: 14px;
  cursor: default;
  -webkit-user-select: none;
  user-select: none;
  overflow: hidden;
  will-change: height;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

app {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

body.loading {
  opacity: 0;
}

#main {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  will-change: transform, height;
  background: var(--x-background);
  box-shadow: 0 50vh 0 0 var(--x-background);
}

body[platform="ios"],
body[platform="darwin"]) #main {
  border-radius: 12px 12px 0 0;
}

aside {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

defs {
  display: none;
}

.app-icon {
  display: grid;
  width: 24px;
  height: 24px;
  will-change: transform;
  transition: transform .1s ease;
}

.app-icon.rectangular {
  border-radius: none;
  border: none;
  width: 40px;
}

.app-icon:hover {
  transform: scale(1.1);
}

.app-icon:active {
  transform: scale(0.9);
}

button {
  padding: 0;
  background: transparent;
  border: none;
}

button:focus,
button {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

button:active {
  background: transparent;
}

body:not([platform="win32"]) {
  & .overlay, & header.draggable {
    app-region: drag;
    --app-region: drag;
    user-select: none;
    -webkit-user-select: none;
  }
}

body[platform="win32"] {
  header.draggable:hover {
    app-region: drag;
    --app-region: drag;
    user-select: none;
    -webkit-user-select: none;
  }
}

.view {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr; 
}

.view > header {
  display: grid;
  text-align: center;
  align-items: center;
  height: 50px;
  background: var(--x-background-overlay);
  align-content: center;
  position: relative;
}

button#sidebar-toggle {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 3;
}

body[platform="darwin"] button#sidebar-toggle {
  position: fixed;
  top: 8px;
  left: 80px;
  z-index: 3;
}

body[platform="win32"] {
  /* Scrollbar container */
  ::-webkit-scrollbar {
    width: 16px;               /* Width of the scrollbar */
    height: 8px;              /* Height of the scrollbar (for horizontal scrollbars) */
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent; /* Background of the scrollbar track */
    border-radius: 0px;       /* Optional: Adds rounded corners to the track */
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--x-info); /* Color of the scrollbar handle */
    border-radius: 10px;       /* Optional: Adds rounded corners to the handle */
    border: 4px solid var(--x-window);
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--x-dark); /* Color when hovering over the handle */
  }

  /* Optional: Customizing the scrollbar corner (where the horizontal and vertical scrollbars meet) */
  ::-webkit-scrollbar-corner {
    background: transparent;  /* Background of the scrollbar corner */
  }
}

.bottom-aligned {
  align-items: end;
}

.padded {
  padding: 10px 0;
}

/**
 ** Anything ios specific
 */
body[platform="ios"] {
  .view > header.primary {
    height: 120px;
  }

  #sidebar-toggle {
    left: 18px;
    top: 68px;
  }

  #profile-open {
    margin-top: 58px;
    margin-right: 4px;
  }

  #profile,
  #main {
    border-radius: 30px 30px 0 0;
  }

  #messages {
    .title {
      margin-top: 48px;
    }

    #input {
      margin: 20px 20px 40px;
    }
  }
}

/**
 ** Anything sepcific to running on the desktop
 */
body[hardware="desktop"] {

}

body[hardware="mobile"] {
  &.loaded {
    background-color: #000;
  }

  header.primary {
    border-bottom: 1px solid var(--x-border);
  }
}

/**
 ** Anything sepcific to the keyboard being open
 */
body[keyboard="true"] {
  #messages #input {
    margin-bottom: 20px;
  }
}
