#messages {
  display: grid;
  grid-template-rows: auto 1fr;
  width: 100vw;
  height: 100vh;
  background-color: var(--x-window);
  position: fixed;
  top: 0;
  left: 0;
  user-select: none;
  will-change: transform, width;
  overflow: hidden;
  box-shadow: 0px 0px 24px -10px rgba(0, 0, 0, 1);
  z-index: 2;

  .moving {
  }

  avatar {
    display: grid;
    position: relative;

    .icon {
      height: 34px;
      width: 34px;
      position: relative;
      border: 1px solid var(--x-primary);
      border-radius: 6px;
    }
  }

  #input {
    position: relative;
    padding: 12px;
    background: var(--x-background-darker);
    border-radius: 6px;
    height: auto;
    margin: 20px;
    line-height: 18px;
  }

  #input #input-message {
    color: var(--x-primary);
    background: transparent;
    border: none;
    padding: 0;
    width: 100%;
    font-size: 16px;
    outline: none;
    padding-right: 32px;
    z-index: 2;
  }

  #input #send-message {
    position: absolute;
    top: 12px;
    right: 12px;
  }

  #input .placeholder-text {
    position: absolute;
    color: var(--x-info);
    pointer-events: none;
    transform: translateX(0%);
    transition: transform .2s ease, z-index .3s ease, opacity .3s ease;

    &.hide {
      opacity: 0;
      transform: translateX(20%);
    }

    &.show {
      opacity: 1;
      transform: translateX(0%);
    }
  }

  .content {
    display: grid;
    grid-template-rows: 1fr auto;
    margin: 0;
  }

  virtual-messages {
    position: relative;
  }

  #message-buffer {
    overflow-y: auto;
    position: absolute;
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0;
    display: flex;
    flex-direction: column-reverse;
    transition: bottom 0.35s ease-out; 
    will-change: bottom, height;
    padding: 0 20px;
  }

  .buffer-content {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    padding: 8px 0;
  }

  message {
    width: fit-content;
    max-width: 90%;
    word-wrap: break-word;
    white-space: break-spaces;
    line-height: 22px;
    overflow: hidden;
  }

  message {
    display: grid;
    grid-template-columns: auto 1fr;
    margin-top: 20px;
    gap: 0 10px;

    .author {
      display: grid;
      grid-template-columns: auto 1fr;
      letter-spacing: 1px;
      align-items: center;
      color: var(--x-info);
    }

    &.mine {
      /* background: var(--x-border); *
      /* border-bottom-right-radius: 0; */
    }

    &:not(.mine) {
      /* margin-right: 10%; */
      /* border-bottom-left-radius: 0; */
    }
  }
}

body.moving * {
  user-select: none !important;
  -webkit-user-select: none !important;
}

/**
 ** Anything sepcific to running on the desktop
 */
body[hardware="desktop"] {
  #messages:not(.moving) {

    /* Allow messages to be selected on desktop. */
    /* On mobile, show a copy button */
    message .content {
      user-select: initial;
      -webkit-user-select: initial;
    }
  }
}
