#messages {
  display: grid;
  grid-template-rows: auto 1fr;
  contain: size;
  background-color: var(--x-window);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  user-select: none;
  will-change: transform, height;
  overflow: hidden;
  box-shadow: 0px 0px 18px -10px rgba(0, 0, 0, 1);
  z-index: 2;

  header #profile-open {
    position: absolute;
    right: 14px;
    top: 14px;
  }

  .empty-state {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .empty-state > div {
    display: block;
    margin: auto;
    padding: 16px 10px;
    line-height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 500px;
    width: auto;
  }

  #input {
    position: relative;
    padding: 11px;
    background: var(--x-background-darker);
    border-radius: 6px;
    height: auto;
    margin: 20px;
    line-height: 18px;
  }

  #input img {
    border-radius: 6px;
    border: 1px solid var(--x-border);
    cursor: pointer;
    max-height: 120px;
    display: inline-flex;
    overflow: hidden;
    width: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
    margin-right: 8px;
  }

  #input #input-message {
    color: var(--x-primary);
    background: transparent;
    border: none;
    padding: 0;
    width: 100%;
    font-size: 16px;
    outline: none;
    padding-right: 26px;
    z-index: 2;
    line-height: 22px;
    max-height: 250px;
    overflow: hidden;
  }

  #input #send-message {
    opacity: 1;
    position: absolute;
    transition: transform .2s ease, opacity: .2s ease, z-index .2s ease;
    bottom: 4px;
    right: 76px;
  }

  #input #open-streams {
    opacity: 1;
    position: absolute;
    transition: transform .2s ease, opacity .2s ease, z-index .2s ease;
    bottom: 4px;
    right: 42px;
  }

  #input #send-file {
    opacity: 1;
    position: absolute;
    transition: right .2s ease;
    bottom: 4px;
    right: 6px;
  }

  &.dirty {
    #input #send-message {
      transition: right .2s ease;
      right: 6px;
    }

    #input #open-streams,
    #input #send-file {
      transition: transform .2s ease, opacity .2s ease, z-index .2s ease;
      transform: translateX(20%);
      opacity: 0;
      z-index: -1;
    }
  }

  &.clean {
    #input #send-message {
      transition: bottom .2s ease, right .2s ease;
      right: 76px;
    }

    #input #open-streams,
    #input #send-file {
      transition: transform .2s ease, opacity .2s ease, z-index .2s ease;
      transform: translateX(0%);
      opacity: 1;
      z-index: 1;
    }
  }

  #input .placeholder-text {
    position: absolute;
    left: 14px;
    font-size: 16px;
    color: var(--x-input-border);
    pointer-events: none;
    line-height: 22px;
    transform: translateX(0%);
    transition: transform .3s ease, z-index .3s ease, opacity .3s ease;

    &.hide {
      opacity: 0;
      transform: translateX(20%);
    }

    &.show {
      opacity: 1;
      transform: translateX(0%);
    }
  }

  > .content {
    display: grid;
    grid-template-rows: 1fr auto;
    margin: 0;
    contain: strict;
    will-change: height;
  }

  virtual-messages {
    position: relative;
  }

  #message-buffer {
    overflow-y: auto;
    position: absolute;
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0;
    display: flex;
    flex-direction: column-reverse;
    contain: size;
    will-change: bottom, height;
    padding: 0 20px;
  }

  .buffer-content {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    padding: 8px 0;
  }

  message {
    width: fit-content;
    max-width: 90%;
    word-wrap: break-word;
    white-space: break-spaces;
    line-height: 22px;
    overflow: hidden;
  }

  message {
    display: grid;
    grid-template-columns: auto 1fr;
    margin-top: 20px;
    gap: 0 10px;

    img {
      max-width: 100%;
      max-height: 250px;
      border-radius: 12px;
    }

    .author {
      display: grid;
      grid-template-columns: auto 1fr;
      letter-spacing: 1px;
      align-items: center;
      color: var(--x-info);
    }
  }
}

body.moving * {
  user-select: none !important;
  -webkit-user-select: none !important;
}


body[hardware="mobile"] {
  #messages header #open-streams {
    top: 76px;
  }

  #messages #input {
    max-width: 90vw;
  }

  #messages .empty-state > div {
    min-width: 80vw;
  }
}

/**
 ** Anything sepcific to running on the desktop
 */
body[hardware="desktop"] {
  #messages:not(.moving) {

    /* Allow messages to be selected on desktop. */
    /* On mobile, show a copy button */
    message .content {
      user-select: initial;
      -webkit-user-select: initial;
    }
  }
}
